.hello{
	color: red;
	font-size: 150%;
}
#wrapper{
	height: 100%;
	
}
#header{
	width: 50%;
	height: 200px;
	float: left;
	background: pink;
	margin-left: 25%;
	position: relative;
}
.animal{
	float: left;
	position: absolute;
}
.animal2{
	float: right;
	position: absolute;
	top:0;
	right:0;
}
.flower{
	float: left;
	position: absolute;
	top:0;
	right: 250px;
}
.hide{
	display: none;
}
